<div class="right-panel">
    <div class="top-part">
        <div class="order">
            <span class="order-title">Замовлення</span>
            <span class="badge order-number">0</span>
            <span class="clear-order">Очистити замовлення</span>
        </div>
    </div>
    <div class="main-part" id="cart">
    </div>
    <div class="bottom-part" id="bottom">
        <span class="sum" id="text-sum"></span>
        <span class="sum-value"></span>
        <div class="btn-order">
            <button type="button" onclick="window.location.href = 'order.html';" id="is_order"
                    class="btn btn-warning button-order" disabled="disabled">
                Замовити
            </button>
        </div>
    </div>
</div>