<div class="right-panel">
    <div class="top-part">
        <div class="order">
            <span class="order-title">Замовлення</span>
            <span class="badge order-number">0</span>
        </div>
    </div>
    <div class="main-part" id="cart">
    </div>
    <div class="bottom-part" id="bottom">
        <span class="sum" id="text-sum"></span>
        <span class="sum-value"></span>
        <div class="btn-edit">
            <button type="button" onclick="window.location.href = 'http://localhost:5050/';"
                    class="btn btn-default button-edit">
                Редагувати замовлення
            </button>
        </div>
    </div>
</div>